In [1]:
import pandas as pd

In [2]:
import os
import glob
import pandas as pd
os.chdir("JUNE_DATA")

In [20]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [21]:
april_csv = pd.concat([pd.read_csv(f,header=None)for f in all_filenames ])

In [22]:
april_csv

           0          1          2
0     0:1:48  24.902344  31.039833
1     0:4:48  24.658203  31.039833
2     0:7:49  24.658203  31.039833
3    0:10:49  24.658203  31.039833
4    0:13:49  24.658203  31.039833
..       ...        ...        ...
475  23:48:6  24.414062  31.039833
476  23:51:6  24.169922  30.352113
477  23:54:6  24.169922  30.352113
478  23:57:6  24.414062  30.352113
479  23:57:6  24.414062  30.352113

[14400 rows x 3 columns]

In [23]:
april_csv = april_csv.rename({0:'Time',5:'T1',6:'T2'},axis=1)

In [24]:
final = april_csv.reset_index().drop('index',axis=1)

In [25]:
final.to_csv('JUNE_COMBINED.csv', index=False)