In [2]:
import pandas as pd
d = pd.read_csv("JUNE_COMBINED.csv")
d['day']=(d.index / 480 + 1).astype(int)
d.to_csv('JUNE_COMBINED.csv')
d.head()

   Unnamed: 0     Time          1          2  day
0           0  0:01:48  24.902344  31.039833    1
1           1  0:04:48  24.658203  31.039833    1
2           2  0:07:49  24.658203  31.039833    1
3           3  0:10:49  24.658203  31.039833    1
4           4  0:13:49  24.658203  31.039833    1